# üìå Transform: Primeiro Tratar

[Clique para acessar os dados](https://docs.google.com/spreadsheets/d/1YQhDNSt1sOrzq6AKxyYG6wzRAvM-M7l7jJRIHunNB88/copy?gid=1190375422#gid=1190375422)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_receitas = pd.read_csv('/content/C√≥pia de Dados - TCC - Planilhas - Receitas.csv')

## 1Ô∏è‚É£ Ao n√≠vel de colunas

### üí° Acessar nomes de coluna

üîπ O que faz?
* Podemos visualizar os nomes das colunas do DataFrame usando
* Quando usar? Para verificar se os nomes das colunas est√£o corretos ou precisam de ajustes.

In [ ]:
df_receitas.columns

Index(['Data Lan√ßamento', 'Id Atendimento', 'Receita C√≥digo',
       'Quantidade Vendida', 'Valor de venda', 'Cliente ID', 'Cliente Sexo',
       'Cliente Nome', 'Cliente Data Nascimento', 'Cliente Origem',
       'Cliente Cidade', 'Profissional Nome', 'Profissional Especialidade',
       'Data de Pagamento', 'Forma Pagamento'],
      dtype='object')

### üí° Mudar nomes de coluna

üîπ O que faz?
* A fun√ß√£o .rename() permite alterar o nome de colunas espec√≠ficas, sem modificar o restante.

In [ ]:
#permite passar um dicion√°rio que atribue a cada coluna existente um novo nome

df_receitas = df_receitas.rename(columns={
    'Data Lan√ßamento': 'data_lancamento',
    'Id Atendimento': 'atendimento_id',
    'Receita C√≥digo': 'receita_codigo',
    'Quantidade Vendida': 'venda_quantidade',
    'Valor de venda': 'venda_valor',
    'Cliente ID': 'cliente_id',
    'Cliente Sexo': 'cliente_sexo',
    'Cliente Nome':'cliente_nome',
    'Cliente Data Nascimento': 'cliente_nascimento_data',
    'Cliente Origem': 'cliente_origem',
    'Cliente Cidade': 'cliente_cidade',
    'Profissional Nome': 'profissional_nome',
    'Profissional Especialidade': 'profissional_especialidade',
    'Data de Pagamento': 'pagamento_data',
    'Forma Pagamento':'pagamento_forma'
    })

In [ ]:
df_receitas.columns

Index(['data_lancamento', 'atendimento_id', 'receita_codigo',
       'venda_quantidade', 'venda_valor', 'cliente_id', 'cliente_sexo',
       'cliente_nome', 'cliente_nascimento_data', 'cliente_origem',
       'cliente_cidade', 'profissional_nome', 'profissional_especialidade',
       'pagamento_data', 'pagamento_forma'],
      dtype='object')

üîπ Se quisermos alterar todos os nomes de uma vez, podemos usar a atribui√ß√£o do nome das colunas, com df.columns = [...], mas tem que usar na mesma sequ√™ncia da ordem atual das colunas

In [ ]:
#Usar a identa√ß√£o √© uma boa pr√°tica

df_receitas.columns = ['data_lancamento',
                       'atendimento_id',
                       'receita_codigo',
                       'venda_quantidade',
                       'venda_valor',
                       'cliente_id',
                       'cliente_sexo',
                       'cliente_nome',
                       'cliente_nascimento_data',
                       'cliente_origem',
                       'cliente_cidade',
                       'profissional_nome',
                       'profissional_especialidade',
                       'pagamento_data',
                       'pagamento_forma'
                       ]

üîπ Se os nomes das colunas estiverem inconsistentes, podemos format√°-los automaticamente para min√∫sculo

In [ ]:
#df.columns = df.columns.str.lower()

üîπ Ou, se quisermos remover espa√ßos e deixar padronizado:

In [ ]:
#df_receitas.columns = df_receitas.columns.str.strip().str.replace(" ", "_")